<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-dismissible alert-danger" style="background-color: #ffadad">
                <h2>You cannot delete your own account!</h2>
                <h4>To delete this account you need to login with different user.</h4>
            </div>
        </div>
    </div>
</div>