body{
	background-image:url('../images/gray.jpg');
	background-size:cover;
}

.ahh{
	font-size: 50px;
	color: #fff;
	font-family: 'Yanone Kaffeesatz', 'sans-serif';
	font-weight: 300;
	text-decoration:none;
	text-align:center;
	line-height:50px;;
}

	.ahh:hover{
		background:#fff;
		color:#1B7B98;
	}
	
.padding{
	padding-left:10px;
}



.row>#accordion{
	margin-top:200px;
	margin-bottom:30px;
}

	.panel-title{
		text-align:center;
		color:#1B7B98;
		font-size:20px;
		font-weight:400;
	}
	
	.panel{
		background-color:transparent;
		border:1px solid transparent;
	}


		
.page-footer{
	height:50px;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}

/******* screen width s and smaller ********/
@media (max-width: 767px) {

  .main-nav .container {
    display: block;
  }
  
  .social-icons{
	  display:none;
  }
  
  .ahh{
	  position:fixed;
	  top:0;
	  width:100%;
	  text-align:left;
  }
  .navbar-toggle{
	  top:-30px;
	  z-index:0;
  }
  
  .navbar-collapse{
	  top:-25px;
  }	
  
  .row>#accordion{
	  margin-top:100px;
  }
	
}
  
 
/*sliding search style - not a form*/
/*.search {
  background-color: #fff;
    
  position: absolute;
  right:-200px;
  top: 30%;
  width:252px;
   -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.search span{
	color:#1B7B98;
}

.search:hover {
  right:0;
}


.search a {
  color: #FFFFFF;
  display: block;
  font-size: 24px;
  text-transform: uppercase;
}

.search a i {
  font-size: 30px;  
  padding: 20px 12px;
  background: #1B7B98; 
  margin-right: 3px;
}
*/
