body{
	background-image:url('../images/5uxGubf.gif');
	background-size:cover;
}

.navbar{
  margin:20px 10px;
  padding-right:10px;
    border-radius:5px;
    background:rgba(80,80,80,0.6);
  }

.wrapper{
	width:85%;
	background:rgba(71, 72, 74, 0.8);
	margin:0 auto;
}

.container, .thumbnail{
	
	margin:0px 10px 10px;
    border-radius:5px;
    background:rgba(80,80,80,0.6);
	padding:5px 10px;
}
	
	footer{
		margin-right:20px;
		margin-top:10px;
	}
	
		.left{
			float:left;
		}
		
		span{
			padding:0 10px;
		}

	/*carousel*/
.carousel-indicators {
	bottom:-20px;
	left:0;
	width:100%;
	padding: 6px 0px;
	margin-left:0;
	margin-bottom:20px;
}

#myCarousel{
	margin:10px, auto;
}

	.cust{
		width:50%;
		margin:10px auto 20px;
		padding:10px;
		background:transparent;
	}

/*search*/
#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn-cu {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}
