@model GitGud.ViewModels.ChangeAvatarViewModel
@{
    ViewBag.Title = "Change Avatar";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
}

<div class="container upload">
    <div class="panel panel-default col-md-offset-4 col-md-4">
        <div class="panel-heading"><strong>Change profile picture</strong></div>
        <div class="panel-body">

            <!-- Standar Form -->
            <h4>Select a file from your computer</h4>
            <form method="post" enctype="multipart/form-data" id="js-upload-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-inline">
                    <div class="form-group">
                        <label asp-for="ImageFile"></label>
                        <input asp-for="ImageFile" accept="image/*">
                        <span asp-validation-for="ImageFile"></span>
                    </div>
                </div>
                <p></p>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a asp-action="Show" asp-controller="User" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> <!-- /container -->