@model GitGud.ViewModels.LoginViewModel

@{ 
    ViewBag.Title = "Login";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container">
    <div class="col-md-offset-4 col-md-4">
        <form class="form-horizontal" method="post" asp-antiforgery="true">
            <fieldset>
                <div asp-validation-summary="ModelOnly"></div>
                <legend>Login</legend>
                <div class="form-group">
                    <label asp-for="Username" class="col-lg-4 control-label">Username</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" asp-for="Username" placeholder="Username">
                        <span asp-validation-for="Username"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-lg-4 control-label">Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RememberMe" class="col-sm-4 control-label"></label>
                    <div class="col-sm-2">
                        <input type="checkbox" class="form-control pull-left" asp-for="RememberMe" placeholder="Remember Me">
                        <span asp-validation-for="RememberMe"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a asp-action="Index" asp-controller="App" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
                <div class="row">
                    Not registered? Please
                    <a asp-action="Register" asp-controller="User" target="_self">Register</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>