@{
    ViewBag.Title = "About";
}

<h1 style="text-align: center; padding-top: 40px"><strong>Team GitGud</strong></h1>

<div class="container" style="padding-top: 40px; padding-left: 50px">

    <div class="row">
        <div class="col-md-3">
            <div>
                <img src="~/images/stoyan_grigorov.png" alt="" style="width: 200px" />
            </div>

            <a href="https://softuni.bg/users/profile/show/stoyan.grigorov">
                <strong style="font-size: 1.5em; padding-left: 20px">Stoyan Grigorov</strong>
            </a>

        </div>
        <div class="col-md-3">
            <div>
                <img src="~/images/maria_stoeva.png" alt="" style="width: 200px" />
            </div>

            <a href="https://softuni.bg/users/profile/show/maria_ls">
                <strong style="font-size: 1.5em; padding-left: 30px">Maria Stoeva</strong>
            </a>

        </div>
        <div class="col-md-3">
            <div>
                <img src="~/images/luko_delidzhov.png" alt="" style="width: 200px" />
            </div>
            <a href="https://softuni.bg/users/profile/show/luko193">
                <strong style="font-size: 1.5em; padding-left: 25px">Luko Delidzhov</strong>
            </a>
        </div>

        <div class="col-md-3">
            <div>
                <img src="~/images/jean_petrov.png" alt="" style="width: 200px" />
            </div>
            <a href="https://softuni.bg/users/profile/show/jean1">
                <strong style="font-size: 1.5em; padding-left: 45px">Jean Petrov</strong>
            </a>
        </div>
    </div>
</div>
