@{
    ViewBag.Title = "Browse";
}
<div class="container">
    <div class="jumbotron">
        <h1>Jumbotron</h1>
        <p>Some text here</p>
        <p><a class="btn btn-primary btn-lg">Button</a></p>
    </div>
</div>