@{
    ViewBag.Title = "Charts";
}


@section scripts{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawDownloadsChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawDownloadsChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');

            $.getJSON("@Url.Action("GetDownloadsChartData")",
                function (chartData) {
                    $.each(chartData,
                        function (index) {

                            data.addRow([chartData[index].name, chartData[index].downloads]);
                        });

                    // Set chart options
                    var options = {
                        'title': 'Top 10 most downloaded songs',
                        'width': 1000,
                        'height': 500,
                        'is3D': true
                    };

                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.PieChart(document.getElementById('downloads_chart'));
                    chart.draw(data, options);
                });
        }
    </script>
}

<!--Div that will hold the pie chart-->
<div id="downloads_chart" align="center" style="background-color: white"></div>