@{ 
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" style="max-height:50px">
                <div class="carousel-inner" style="text-align:center">
                    <div class="item active">
                        <div class="list-group-item">
                            <h3><i>“Without music, life would be a mistake.”</i></h3>
                            <small>Friedrich Nietzsche</small>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-group-item">
                            <h3><i>“Where words leave off, music begins.”</i></h3>
                            <small>Heinrich Heine</small>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list-group-item">
                            <h3><i>"One good thing about music, when it hits you, you feel no pain."</i></h3>
                            <small>Bob Marley</small>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" style="opacity:0" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" style="opacity:0" href="#myCarousel" data-slide="next">›</a>
            </div><!-- /.carousel -->

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 style="text-align:center">Popular tags:</h2>
            <ul class="pager">
                <li><a href="#" style="margin:3px">Tagtagtag</a></li>
                <li><a href="#" style="margin:3px">Tralala</a></li>
                <li><a href="#" style="margin:3px">mofo</a></li>
                <li><a href="#" style="margin:3px">Tag</a></li>
                <li><a href="#" style="margin:3px">lolololo</a></li>
                <li><a href="#" style="margin:3px">Tag</a></li>
                <li><a href="#" style="margin:3px">Tagtuktuktuk</a></li>
                <li><a href="#" style="margin:3px">Tag</a></li>
                <li><a href="#" style="margin:3px">Tag</a></li>
                <li><a href="#" style="margin:3px">You</a></li>
                <li><a href="#" style="margin:3px">Touch</a></li>
                <li><a href="#" style="margin:3px">My</a></li>
                <li><a href="#" style="margin:3px">Tralala</a></li>
                <li><a href="#" style="margin:3px">Tag</a></li>
                <li><a href="#" style="margin:3px">Tag</a></li>
                <li><a href="#" style="margin:3px">Tag</a></li>
                <li><a href="#" style="margin:3px">Tag</a></li>
                <li><a href="#" style="margin:3px">Tag</a></li>
                <li><a href="#" style="margin:3px">Tag</a></li>
                <li><a href="#" style="margin:3px">This</a></li>
                <li><a href="#" style="margin:3px">Is</a></li>
                <li><a href="#" style="margin:3px">Staring</a></li>
                <li><a href="#" style="margin:3px">To</a></li>
                <li><a href="#" style="margin:3px">Overflow</a></li>
                <li><a href="#" style="margin:3px">NotCool</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 style="text-align:center">What's trending:</h2>
            <div class="list-group">
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
            </div>
            <div class="well panel-info" style="text-align:center;">
                <a href="#" style="color:black"><strong>Facebook </strong><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="#" style="color:black"><strong>GitHub </strong><i class="fa fa-github fa-2x"></i></a>
                <a href="#" style="color:black"><strong>SoftUni </strong><i class="fa fa-university fa-2x"></i></a>
            </div>
        </div>
    </div>
</div>