@model IEnumerable<GitGud.Models.Song>
@{
    ViewBag.Title = "Search results for " + ViewData["SearchString"];
}
<div class="container">
    <div class="col-md-12 text-center">
        <h1>Search results for @ViewData["SearchString"] :</h1>
        @if (Model.Any())
        {
            foreach (var song in Model)
            {
                <div class="col-md-4">
                    <a class="list-group-item" asp-controller="Song" asp-action="Details" asp-route-songId="@song.Id">"@song.Name" - @song.ArtistName</a>
                </div>
            }
        }
        else
        {
            <div class="col-md-offset-3 col-md-6">
                <h3>There are no songs that match your search request.</h3>
                <img src="~/images/doge-portrait.jpg" style="border-radius:15%; width:40%; height:auto"/>
                <h4>Doge is very sorry.</h4>
            </div>
        }

    </div>
</div>