@model GitGud.ViewModels.UploadViewModel
@{
    ViewBag.Title = "Upload";
}

@section scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container upload">
    <div class="panel panel-default col-md-offset-4 col-md-4">
        <div class="panel-heading"><strong>Upload File</strong></div>
        <div class="panel-body">

            <!-- Standar Form -->
            <h4>Select a file from your computer</h4>
            <form method="post" enctype="multipart/form-data" id="js-upload-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-inline">
                    <div class="form-group">
                        <label asp-for="MusicFile"></label>
                        <input asp-for="MusicFile">
                        <span asp-validation-for="MusicFile"></span>
                    </div>
                </div>
                <p></p>
                <div class="form-group">
                    <label asp-for="SongName" class="control-label"></label>
                    <div>
                        <input asp-for="SongName" class="form-control" />
                        <span asp-validation-for="SongName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Artist" class="control-label"></label>
                    <div>
                        <input asp-for="Artist" class="form-control" />
                        <span asp-validation-for="Artist"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <div>
                        <input asp-for="Tags" class="form-control" />
                        <span asp-validation-for="Tags"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" value="Upload" class="btn btn-sm btn-primary" id="js-upload-submit">Upload file</button>
                </div>
                @if (ViewBag.InputFields != null)
                {
                    <div><h3>@ViewBag.InputFields</h3></div>
                }

            </form>
            <!-- Progress Bar -->
            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 0%"></div>
            </div>
        </div>
    </div>
</div> <!-- /container -->