@model GitGud.ViewModels.CommentViewModel
<div class="container">
    <div class="col-md-7 col-md-offset-2" style="padding-left:40px">
        <form method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly">
                <div class="form-group">

                    <div>
                        <label asp-for="Content"></label>
                        <textarea rows="5" asp-for="Content" class="form-control input-lg" type="text" id="inputLarge" placeholder="Your comment here:"></textarea>
                    </div>
                </div>
            </div>
            <div style="padding-top: 7px">
                <div class="form-group">
                    <div>
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
            @if (ViewBag.InputFields != null)
            {
                <div><h3>@ViewBag.InputFields</h3></div>
            }
        </form>
    </div>
</div>